body {
    margin: 0;
    font-family: 'Nunito Sans', Arial;
}

body * {
    box-sizing: border-box;
}

@font-face {
    font-family: "Nunito Sans";
    src: url(../fonts/NunitoSans/NunitoSans-Regular.ttf);
}

@font-face {
    font-family: "Yeseva One";
    src: url(../fonts/YesevaOne/YesevaOne-Regular.ttf);
}

.header {
    background-color: black;
}

.box {
    max-width: 768px;
    margin: 0 auto;
}

.logo {
    color: #E3B873;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    margin-left: 18px;
}

.menu {
    position: relative;
    display: inline-block;
}

.menu-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 5px;
    z-index: 2;
}

.menu-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.menu-content a:hover {
    background-color: #ddd;
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
}

.menu:hover .menu-content {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.mb0 {
    width: 160px;
    height: 37px;
}

.menubut {
    text-transform: uppercase;  
    border-radius: 2px;
    font-size: 11px;
    padding: 13px 33px;
    cursor: pointer;
    color: white;
    background-color: #E3B873;
    font-family: "Nunito Sans";
    font-weight: normal;
    font-style: italic;
    border: 0;
    outline: 0;
    line-height: 15px;
    text-align: center;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
}

.menubut:hover {
    color: #006398;
    border: 0px solid #006398;
    box-shadow: 1px 1px 10px #AFE9FF;
}
  
.menubut.color-change {
    -webkit-appearance: none;
    -moz-appearance: none;
}

.header-content {
    display: flex;
    justify-content: space-between;
    height: 83px;
    align-items: center;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
}

.header-navigation {
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    padding: 0px;
}

.header-navigation__item {
    display: none;
    margin-right: 47px;
}

.phone-numb {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    text-align: right; 
    text-decoration: none;
    color: white;
    margin-right: 18px;
}

.but1 {
    width: 161px;
    height: 37px;
    display: none;
}

.block1 {
    background-image: url(../img/jpg/block1.jpg);
    background-size: cover;
    height: 707px;
    position: relative;
}

.block1-overlay {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .7);
}

.block1-box {
    padding-top: 194px;
    margin-left: 134px;
    width: 515px;
    height: 499px;
    position: relative;
    z-index: 1;
}

.block1-text {
    font-family: 'Nunito Sans';
    font-weight: normal;
    font-style: normal;
    font-size: 22px;
    margin-top: 18px;
    color: white;
}

.title {
    margin: 0;
    font-family: 'Yeseva One', 'Times New Roman', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.color {
    color: #E3B873;
}

.block1-text {
    font-family: 'Nunito Sans';
    font-weight: normal;
    font-style: normal;
    font-size: 22px;
    margin: 18px 0px 41px;
    color: white;
}

.but2 {
    width: 207px;
    height: 51px;
    margin-right: 20px;
}

.but2-1 {
    width: 207px;
    height: 51px;
    background: rgba(0, 0, 0, 0);
    border: 1px solid white;
    border-radius: 2px;
    padding: 18px 23px 21.5px 22px;
    box-shadow: none;
}

.but2-1:hover {
    color: #E3B873;
    border: 1px solid #006398;
    box-shadow: 2px 2px 10px #AFE9FF;
  }