body {
    margin: 0;
    font-family: 'Nunito Sans', Arial;
}

body * {
    box-sizing: border-box;
}

@font-face {
    font-family: "Nunito Sans";
    src: url(../fonts/NunitoSans/NunitoSans-Regular.ttf);
}

@font-face {
    font-family: "Yeseva One";
    src: url(../fonts/YesevaOne/YesevaOne-Regular.ttf);
}

.header {
    background-color: black;
}

.box {
    max-width: 1440px;
    margin: 0 auto;
}

.logo {
    color: #E3B873;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    margin-left: 92px;
}

.menu {
    display: none;
}

.header-content {
    display: flex;
    justify-content: space-between;
    height: 83px;
    align-items: center;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    Font-family: 'Nunito Sans';
    Line-height: 15px;
    Vertical-align: Top;
}

.header-navigation {
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    padding: 0px;
}

.header-navigation__item {
    margin-right: 47px;
}

.cts {
    width: 67px;
    margin-right: 67px;
}

.header-navigation__link {
    text-decoration: none;
    color: white; 
}

.phone-numb {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    text-align: right; 
    text-decoration-line: underline;
    color: #E3B873;
    margin-left: 20px;
}

.but1 {
    width: 161px;
    height: 37px;
}

.button {
    text-transform: uppercase;  
    border-radius: 2px;
    font-size: 11px;
    padding: 13px 33px;
    cursor: pointer;
    color: white;
    background-color: #E3B873;
    font-family: "Nunito Sans";
    font-weight: normal;
    font-style: italic;
    border: 0;
    outline: 0;
    line-height: 15px;
    text-align: center;
    margin-right: 90px;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
}

.button:hover {
    color: #006398;
    border: 1px solid #006398;
    box-shadow: 2px 2px 10px #AFE9FF;
}

.button.color-change {
    -webkit-appearance: none;
    -moz-appearance: none;
}

.block1 {
    background-image: url(../img/jpg/block1.jpg);
    background-size: cover;
    height: 707px;
    position: relative;
}

.block1-overlay {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .7);
}

.block1-box {
    padding-top: 194px;
    margin-left: 134px;
    width: 515px;
    height: 499px;
    position: relative;
    z-index: 1;
}

.title {
    margin: 0;
    font-family: 'Yeseva One', 'Times New Roman', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.color {
    color: #E3B873;
}

.block1-text {
    font-family: 'Nunito Sans';
    font-weight: normal;
    font-style: normal;
    font-size: 22px;
    margin: 18px 0px 41px;
    color: white;
}

.but2 {
    width: 207px;
    height: 51px;
    margin-right: 20px;
}

.but2-1 {
    width: 207px;
    height: 51px;
    background: rgba(0, 0, 0, 0);
    border: 1px solid white;
    border-radius: 2px;
    padding: 18px 23px 21.5px 22px;
    box-shadow: none;
}

.but2-1:hover {
    color: #E3B873;
    border: 1px solid #006398;
    box-shadow: 2px 2px 10px #AFE9FF;
}

.block2 {
    background-color: #131313;
    background-size: cover;
    height: 1074px;
    position: relative;
}

.block2-box {
    width: 1171px;
    height: 969px;
    position: absolute;
    top: 107px;
    right: 134.5px;
    bottom: 414px;
    left: 134.5px;
    display: flex;
}

.b21-box {
    width: 492px;
    height: 553px;
}

.projmob {
    display: none;
}

.block2-h2 {
    width: 253px;
    height: 66px;
    margin: 69px 239px 34px 0px;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
    text-transform: uppercase;
    color: #E3B873;
}

.block2-text {
    width: 442px;
    height: 86px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 27px;
    color: #FFFFFF;
    margin-bottom: 42px;
}

.b22-box {
    display: flex;
    flex-flow: row wrap;
}

.b221-box {
    display: flex;
    flex-flow: column wrap;
}

.b221-h {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #E3B873;
    width: 66px;
    height: 22px;
    margin: 0px 124px 9px 0px;
}

.b221-h2 {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #E3B873;
    width: 156px;
    height: 22px;
    margin: 0px 34px 9px 0px;
}

.b221-text {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    color: #FFFFFF;
    width: 110px;
    height: 42px;
    margin: 0px 80px 34px 0px;
}

.b221-text2 {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    color: #FFFFFF;
    width: 103px;
    height: 24px;
    margin: 0px 80px 34px 0px;
}

.b221-h3 {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #E3B873;
    width: 213px;
    height: 22px;
    margin: 0px 89px 9px 0px;
}

.b22b-c1 {
    width: 190px;
    height: 166px;
}

.b22b-c2 {
    width: 302px;
    height: 166px;
}

.b2-navbar {
    display: flex;
    flex-flow: row nowrap;
    margin-top: 75px;
}

.arrow-left {
    margin-right: 29.5px;
}

.square1 {
    width: 9.57px;
    height: 9.57px;
    color: white;
    border-radius: 30%;
    margin-right: 17.54px;
}

.square2 {
    width: 9.57px;
    height: 9.57px;
    color: white;
    border-radius: 30%;
    margin-right: 17.54px;
}

.square3 {
    width: 9.57px;
    height: 9.57px;
    color: white;
    border-radius: 30%;
    margin-right: 29.5px;
}

.b22-navbar {
    display: flex;
    flex-flow: row nowrap;
    width: 685px;
    height: 69px;
}

.b22-a {
    margin: 0px 60.5px 45px 0px;
    height: 23px;
    text-transform: uppercase;
    Font-family: 'Yeseva One';
    Font-style: normal;
    Font-size: 14px;
    Line-height: 19.4px;
    Vertical-align: Top;
    color: #E3B873;
    text-decoration: none;
    border-bottom: 1px solid #E3B873;
}

.b22-a2 {
    color: rgba(255, 255, 255, 0.3);
    border: none;
}

.boda-img {
    width: 679px;
    height: 482px;
    margin: 0px;
}

.b2-sbt-cam {
    width: 197px;
    height: 69px;
    margin-top: 92px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.b2-sbt-cam-mob {
    display: none;
}

.subtitle {
    Font-family: 'Yeseva One';
    text-transform: uppercase;
    Font-size: 20px;
    Font-style: normal;
    Line-height: 27.72px;
    Vertical-align: Top;
    Color: white;
}

.sbt-cam-t {
    margin: 0px;
    display: flex;
    margin-bottom: 12px;
}

.camera_block {
    display: flex;
    width: 196px;
    height: 28px;
    justify-content: center;
}

.line1 {
    margin-right: 9.47px;
}

.cam {
    margin-right: 7.76px;
}

.online_c {
    width: 817px;
    height: 434px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 188px;
    margin-left: 169px;
}

.online_tr {
    width: 817px;
    height: 434px;
}

.online_c-overlay {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .7);
}

.start-button {
    position: absolute;
    width: 85px;
    height: 85px;
    margin: 0;
    padding: 0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;   
}

.triangle_start {
    width: 28px;
    height: 28px;
    margin-left: 6px;
}

.block3 {
    min-width: 1440px;
    height: 1466px;
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.b3-line {
    width: 55px;
    height: 1.54px;
    background-color: #E3B873;
    border-radius: 30%;
    align-self: center;
    margin-top: 270.5px;
}

.b3-text {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-size: 18px;
    line-height: 36px;
    color: #363636;
    width: 681px;
    height: 131px;
    text-align: center;
    margin: 0 auto;
    margin-top: 34.5px;
}

.input-bar {
    margin: 0 auto;
    margin-top: 91.5px;
    width: 769px;
    height: 51px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.input-bar-button {
    margin: 0;
    width: 200px;
    height: 51px;
    font-style: normal;
}

.input-bar-button-mob {
    display: none;
}

.input-bar-name {
    margin-right: 58px;
    width: 231px;
    height: 51px;
}

.input-bar-phone {
    margin-right: 49px;
    width: 231px;
    height: 51px;
}

.input-bar-namephone__item {
    margin: 0;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    color: rgba(36, 36, 36, 0.5);
}

input[type="text"] {
    font-family: 'Nunito Sans'; 
    width: 231px;
    height: 25px;
    font-size: 14px;
    border: none;
    border-bottom: 1px solid rgba(54, 54, 54, 0.3);
    background: #ffffff !important; 
    outline: none;   
    color: black;
}

.input-pdata {
    margin: 0 auto;
    margin-top: 40px;
}

.input-pdata-mob {
    display: none;
}

.checkbox.mystyle.mobile {
    display: none;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkbox.mystyle {
    display: inline-block;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkbox.mystyle input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkbox.mystyle input:checked ~ .checkbox__checkmark {
    background-color: #E3B873;
}

.checkbox.mystyle input:checked ~ .checkbox__checkmark:after {
    opacity: 1;
}

.checkbox.mystyle:hover input ~ .checkbox__checkmark {
    background-color: #eee;
}

.checkbox.mystyle:hover input:checked ~ .checkbox__checkmark {
    background-color: #E3B873;
}

.checkbox.mystyle .checkbox__checkmark {
    position: absolute;
    top: 2px;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: #eee;
    transition: background-color 0.25s ease;
    border-radius: 1px;
    margin-top: 39px;
}

.checkbox.mystyle .checkbox__checkmark:after {
    content: "";
    position: absolute;
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid rgb(255, 255, 255);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    opacity: 0;
    transition: opacity 0.25s ease;
}

.checkbox.mystyle .checkbox__body {
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-style: normal;
    line-height: 23px;
    font-size: 14px;
    color: black;
    margin-top: 39px;
}

.checkbox-under {
    margin: 0 auto;
}

.b3-sbt-tor {
    width: 257px;
    height: 68px;
    margin-top: 148px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.subtitle.tortxt {
    width: 257px;
    height: 26px;
    font-family: 'Yeseva One';
    font-weight: 400;
    font-style: normal;
    line-height: 28px;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    color: #181818;
    margin: 0;
    margin-bottom: 13px;
}

.torsvg {
    width: 257px;
    height: 28px;
}

.mecha-sbt {
    width: 256px;
    height: 28px;
    margin-left: 1px;
}